.app{
  min-height: 100vh;
  background: white;
}

.bottombar{
  background: white;
}

.req{
  height: 80px;
  max-width: 270px;
  border: 2px solid rgb(23, 23, 23);
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 3px 3px;
  background: turquoise;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}